@font-face {
  font-family: '04B_03';
  src: url('./src/04B_03__.TTF');
}

:root {
  --soft-black: #777;
  --hard-black: #3c3c3c;
  --soft-white: #f5f5f5;
}

h1 {
  font-family: '04B_03', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 3rem;
  color: var(--soft-white);
  text-shadow: 2px 2px 0 black;
}

body {
  background-color: var(--hard-black);
  font-family: '04B_03', Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 546px;
}

#regenerate-map {
  width: 100%;
  margin-top: 1em;
  background-color: transparent;
  border: 2px solid var(--soft-white);
  font-family: '04B_03', Arial, Helvetica, sans-serif;
  color: var(--soft-white);
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#regenerate-map:hover {
  background-color: var(--soft-white);
  color: var(--hard-black);
  cursor: pointer;
}

.dropdown-container {
  margin-top: 1em;
}

.dropdown-container label {
  color: var(--soft-white);
}

.dropdown {
  background-color: var(--soft-white);
  border: 2px solid var(--soft-black);
  font-family: '04B_03', Arial, Helvetica, sans-serif;
  color: var(--soft-black);
  font-size: 16px;
  padding: 10px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.dropdown:hover {
  opacity: 0.8;
}

.dropdown:focus {
  outline: none;
  box-shadow: 0 0 0 2px #333;
}